$input-height = 40px
$brand-primary = #093f5a
$brand-secondary = #6fbee2
$text-color = #efefef

*
  box-sizing: border-box

body
  background: $brand-primary
  font-family: sans-serif
  color: $text-color
  margin: 0
  padding: 10px

button
  cursor: pointer

.container
  width: 100%
  max-width: 320px
  margin: 0 auto

.title a
  color: $text-color
  font-size: 40px
  text-transform: uppercase
  text-decoration: none
  padding-bottom: 2px
  border-bottom: 1px transparent

  &:hover
    border-bottom: 1px dotted $text-color


.full-input
  display: block
  position: relative
  width: 100%
  margin: 20px 0
  padding: 0 7px
  height: $input-height
  line-height: $input-height
  background: lighten($brand-primary, 10%)
  border: none
  border-radius: 3px
  font-size: 20px
  color: $text-color

.prompt
  display: block
  padding-top: 10px
  font-size: 18px

.btn
  position: relative
  background: $brand-secondary
  color: $text-color
  border: none

  &:focus
    outline: none

.btn-primary
  margin-top: 30px
  box-shadow: 0 5px 0 darken($brand-secondary, 40%)

  &:active
    top: 2px
    box-shadow: 0 3px 0 darken($brand-secondary, 40%)

.debug
  display: none

.rider-list
  list-style: none
  padding: 0

.rider-item
  position: relative
  height: $input-height
  line-height: $input-height
  border-radius: 3px
  background: lighten($brand-primary, 10%)
  box-shadow: inset 1px 1px 0 darken($brand-primary, 20%)
  margin-bottom: 6px

  &.is-active,
  &.is-my-ride
    background: lighten($brand-primary, 20%)

.rider-name
  font-size: 26px
  padding-left: 15px

$rider-join-btn-width = 64px

.rider-capacity
  position: absolute
  top: 1px
  right: $rider-join-btn-width + 8px
  color: desaturate($brand-secondary, 70%)
  letter-spacing: 1px

.rider-join-btn
  position: absolute
  top: 1px
  right: 0
  height: $input-height - 1px
  width: $rider-join-btn-width
  margin: 0
  line-height: $input-height - 6px
  font-size: 16px
  box-shadow: none
  border-radius: 0 3px 3px 0

.leave-btn
  margin-top: 40px
  font-size: 14px
  background: darken(desaturate($brand-secondary, 30%), 30%)
  color: darken($text-color, 20%)
