doctype html
html
  head
    title takemycar

    link(href="#{assets.cssPath}", media="screen, projection", rel="stylesheet", type="text/css")

  body
    block content

    script(src="#{assets.jsPath}", type="text/javascript")
