doctype html
html
  head
    title takemycar

    script(src="#{assets.jsPath}", type="text/javascript")
    link(href="#{assets.cssPath}", media="screen, projection", rel="stylesheet", type="text/css")

    link()

  body
    block content

      h1 takemycar
